@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Login - HelpDesk AI</title>

    <style>
        body {
            margin: 0;
            background: #f2f4fa;
            font-family: 'Segoe UI', sans-serif;
        }

        /* TOPBAR */
        .topbar {
            background: #0077ff;
            padding: 22px 0;
            text-align: center;
            font-size: 32px;
            font-weight: 800;
            color: white;
            box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
        }

        /* CARD CENTRAL */
        .center-box {
            width: 420px;
            margin: 60px auto;
            background: white;
            padding: 40px;
            border-radius: 20px;
            box-shadow: 0 6px 20px rgba(0,0,0,0.12);
        }

        h1 {
            text-align: center;
            color: #0077ff;
            margin-bottom: 25px;
            font-size: 28px;
        }

        label {
            font-weight: bold;
            color: #505050;
        }

        .form-control {
            width: 100%;
            padding: 12px;
            font-size: 16px;
            border-radius: 12px;
            border: 1px solid #dcdcdc;
            background: #fafafa;
            margin-bottom: 18px;
        }

            .form-control:focus {
                outline: none;
                border-color: #0077ff;
                box-shadow: 0 0 5px rgba(0,119,255,0.30);
            }

        .btn-primary {
            width: 100%;
            padding: 14px;
            background: #0077ff;
            border: none;
            border-radius: 12px;
            font-size: 18px;
            color: white;
            font-weight: bold;
            cursor: pointer;
        }

            .btn-primary:hover {
                background: #005fcc;
            }

        /* ERRO */
        .erro-msg {
            background: #ffcccc;
            padding: 12px;
            text-align: center;
            border-left: 5px solid #cc0000;
            color: #990000;
            border-radius: 10px;
            margin-bottom: 15px;
            font-weight: bold;
        }
    </style>
</head>

<body>

    <div class="topbar">HelpDesk AI</div>

    <div class="center-box">

        <h1>Acessar Conta</h1>

        @if (ViewBag.Erro != null)
        {
            <div class="erro-msg">@ViewBag.Erro</div>
        }

        <form asp-action="Login" method="post">

            <label>Email</label>
            <input type="email" name="email" class="form-control" required placeholder="exemplo@email.com" />

            <label>Senha</label>
            <input type="password" name="senha" class="form-control" required placeholder="*******" />

            <button class="btn-primary">Entrar</button>

        </form>

    </div>

</body>
</html>
